<nav class="main-nav-outer" id="test">
		<!--main-nav-start-->
			<div class="container">
				<ul class="main-nav">
					<li><a href="/">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Videos</a></li>
					<li><a href="/gym">Gym</a></li>
					<li><a href="/gym/tools">Gym Equipment</a></li>
				</ul>
				<a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
			</div>
	</nav>
	<!--main-nav-end-->