<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
           <div class="carousel-caption">
            <h1>Another dsdaf headline.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-primary" href="#">Learn more</a>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h1>Another dsdaf headline.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-primary" href="#">Learn more</a>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h1>Another dsdaf headline.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-primary" href="#">Learn more</a>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h1>Another dsdaf headline.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-primary" href="#">Learn more</a>
          </div>
        </div>
      </div>
  </div>

  <style>
        html, 
        body, 
        .carousel, 
        .carousel-inner, 
        .carousel-inner .item {
            height: 100%;
        }
        
        .item:nth-child(1) {
            background: #ff3322;
        }
        
        .item:nth-child(2) {
            background: #44c7f4;
        }
        
        .item:nth-child(3) {
            background: #6e2585;
        }
        
        .item:nth-child(4) {
            background: #ffcd00;
        }
        
        /* Changes position of caption */
        .carousel-caption {
            top: 30%;
            bottom: auto;
        }
  </style>