<!doctype html>
<html>

    <head>
        {% include '/partials/head.html' %}        
    </head>

    <body>

        {% block header %} {% endblock %} 
        {% include '/partials/nav.html' %}

        <section class="main-section" id="main">
            {% block content %} {% endblock %}
        </section>

        <footer class="footer">
            {% include '/partials/footer.html' %}
        </footer>

        <script type="text/javascript" src="{{ url_for('static', filename='js/custom/scroll-to.js') }}"></script>        
        <script type="text/javascript" src="{{ url_for('static', filename='js/custom/wow.js') }}"></script>    
        <script type="text/javascript" src="{{ url_for('static', filename='js/custom/scroll.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/custom/navigation.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/custom/main.js') }}"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    </body>

</html>

