{% extends 'base.html' %} {% block title %} Booking Success {% endblock %} {% block content %}
<section class=" " id="">
    <div class="container">
            
        <div class="row">
            <div class="col-lg-7 col-sm-offset-3 body-part">            
                <h1 class="text-success"> APPOINTMENT CANCELLED! </h1>
                <div class="">
                    <strong> Please check your email address for confirmation </strong>
            
                </div>

            </div>
        </div>

        <style>
            .contact-info-box h3 {
                width: auto;
                margin-right: 20px;
            }

            .print-btn {
                margin-left: 10px;
            }

            .back-btn {
                margin-right: 15px;
            }
        </style>
    </div>
</section>

{% endblock %}