{% extends 'base.html' %}
{% block title %}
   Gyms
{% endblock %} 


{% block content %}
    {% for gym in gyms["results"] %}
        <ul class="list-group">
            <li class="list-group-item">
                <div class="gym-item"> 
                    <h2 class="text-left text-success"> {{ gym["name"] }}</h2>
                    <h3> {{ gym["vicinity"] }}</h3>
                    {% if gym["opening_hours"] %} 
                        <p class=""> {{ gym["opening_hours"] }}</p>
                        <p> {miles} away </p>
                    {% endif %}
                    <a href='/more/{{gym["place_id"]}}' class="btn btn-info"> More Info </a>
                </div>
            </li>
        </ul>
    {% endfor %}
            </ul>
{% endblock %}