{% extends 'base.html' %}
{% block title %}
   Gyms
{% endblock %} 


{% block content %}
    {% for gym in gyms["results"] %}
        <ul class="list-group" id="gym-list">
            <li class="list-group-item">
                <div class="gym-item {{gym['place_id']}}"> 
                    <h2 class="text-left text-primary"> <a href='/gym/more/{{gym["place_id"]}}'> {{ gym["name"] }} </a></h2>
                    <h3> {{ gym["vicinity"] }}</h3>
                    {% if gym["opening_hours"] %} 
                        {% if gym['opening_hours']['open_now'] %}
                            <p class="text-success"> CURRENTLY OPEN </p>
                        {% endif %}
                    {% endif %}
                    <a href='/gym/more/{{gym["place_id"]}}' class="btn btn-info"> More Info </a>
                </div>
            </li>
        </ul>
    {% endfor %}
            </ul>
{% endblock %}