<!-- <div class="form">
        <h1> Search for Gyms around <span id="user-location"></span></h1>
        <input type="text" class="input input-lg">
        <input type="submit" class="btn btn-primary btn-lg" value="Find Gyms">
    </div> -->

<div class="container">
    <section class="" id="search">
        <h2>FIND GYMS AROUND
            <span id="user-location"></span>
        </h2>
        <div class="row search">
            <div class="col-lg-9 col-sm-offset-2">
                <form role="form" action="/find" method="POST">
                    <div class="">
                        <input type="text" name='location' id="search-location" class="form-control input-lg text-center">
                                <br /> 
                                <br />
                                <center>
                                        <input type="submit" class="link btn btn-primary btn-lg" value="Find Gyms">
                                </center>                                
                    </div>
                </form>
            </div>
        </div>
    </section>

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHHLWzJzlZZFDye9JbxiCu4RXei_bzMbE"></script>
