

<div class="container">
        <div id="carousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                       <div class="carousel-caption">
                        <h1>Another dsdaf headline.</h1>
                        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <a class="btn btn-primary" href="#">Learn more</a>
                      </div>
                    </div>
                    <div class="item">
                      <div class="carousel-caption">
                        <h1>Another dsdaf headline.</h1>
                        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <a class="btn btn-primary" href="#">Learn more</a>
                      </div>
                    </div>
                    <div class="item">
                      <div class="carousel-caption">
                        <h1>Another dsdaf headline.</h1>
                        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <a class="btn btn-primary" href="#">Learn more</a>
                      </div>
                    </div>
                    <div class="item">
                      <div class="carousel-caption">
                        <h1>Another dsdaf headline.</h1>
                        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <a class="btn btn-primary" href="#">Learn more</a>
                      </div>
                    </div>
                  </div>
              </div>            
    <section class="" id="search">
        <h2>FIND GYMS AROUND
            <span id="user-location"></span>
        </h2>
        <div class="row search">
            <div class="col-lg-9 col-sm-offset-2">
                <form role="form" action="/gym/find" method="POST">
                    <div class="">
                        <input type="text" name='location' id="search-location" class="form-control input-lg text-center">
                                <br /> 
                                <br />
                                <center>
                                        <input type="submit" class="link btn btn-primary btn-lg" value="Find Gyms">
                                </center>                                
                    </div>
                </form>
            </div>
        </div>
    </section>

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHHLWzJzlZZFDye9JbxiCu4RXei_bzMbE"></script>
